<h3 *ngIf="shapes">Total services ({{totalServicesCount}})</h3>

<div class="services">
  <ko-stage [config]="configStage" *ngIf="shapes" #stage>
    <ko-layer #layer>
      <ng-container *ngFor="let shape of shapes">
        <ng-container *ngIf="shape.type=='RECT'">
          <ko-rect [config]="getConfig(shape)" (mouseover)="handleMouseover($event, shape.service.id)"
            (mouseout)="handleMouseout($event, shape.service.id)">
          </ko-rect>
        </ng-container>
        <ng-container *ngIf="shape.type=='TEXT'">
          <ko-text [config]="getConfig(shape)"></ko-text>
        </ng-container>
        <ng-container *ngIf="shape.type=='ARROW'">
          <ko-arrow [config]="getConfig(shape)" (mouseover)="overRelation(shape)"></ko-arrow>
        </ng-container>
      </ng-container>
    </ko-layer>

    <ko-layer #tooltipLayer>
      <ng-container *ngFor="let tooltip of tooltips">
        <ng-container *ngIf="tooltip.type=='TOOLTIP'">
          <ko-text [config]="getConfig(tooltip)"></ko-text>
        </ng-container>
      </ng-container>
    </ko-layer>

    <ko-layer #dragLayer></ko-layer>
  </ko-stage>
</div>
