<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="">Service Registry</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" routerLink="/relations">Relations</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
